#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-weight: 700;
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#github-container {
  display: flex;
}

.userContainer {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
  background-color: #e73c7e71;
  border: 2px solid rgba(45, 0, 51, 0.849);
  border-radius: 10px;
}

.userContainer img {
  width: 130px;
  height: auto;
  margin-right: 10px;
}

.userContainer h2 {
  color: rgb(248, 231, 231);
}

.userContainer a {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 5px;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Gradient background */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
